
{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Password</h1>
            <p class="lead fw-normal text-white-50 mb-0">You can edit here,U can't watch because of securtiy.</p>
        </div>
    </div>
  </header>

  <div class="container mt-5">
  
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Update Password</button>
        </form>
        
       
      </div>
    </div>
  </div>
    

    {% endblock %}
