{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">User-Info</h1>
          <p class="lead fw-normal text-white-50 mb-0">Edit option is enabled.</p>
      </div>
  </div>
</header>


<div class="container mt-5">
  
  <div class="row justify-content-center">
    <div class="col-md-6">
    
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> There is an error in your registration, try again!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        

    </div>
  </div>
</div>
{% endblock %}


