<!-- payment/templates/shipping_address.html -->

{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Add-address</h1>
            <p class="lead fw-normal text-white-50 mb-0">help us to deliver.</p>
        </div>
    </div>
</header>
<div class="container mt-5">
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Save Address</button>
    </form>
</div>
{% endblock %}
